
<div class="info_container">

  <div class="info_main">
    <br/>
          <img src={{selectedInfo}}>
    <br/>

  <div class="info_textw3-center w3-animation-bottom">

    <div class="container">
      <div class="jumbotron">
        {{selectedDesc}}
      </div>
    </div>
    <br/>

    <a href="{{link}}"><i class="fa fa-twitter fa-3x" aria-hidden="false"></i>Having fun at {{selected}}? Tweet it!</a>

  </div>
 <!-- test -->


  </div>









  <div class="info_bottom_nav">
    <div class="map_bottom_nav">
        <a ui-sref='map'><i class="material-icons md-48">chevron_left</i></a>
    </div>
    <div class="map_bottom_nav">
      <a ui-sref='home'><i class="material-icons md-48">home</i></a>
    </div>
  </div>


</div>
