.sass_flex {
  display:flex;
  flex-direction:column;
  align-items: center;
}

// test
$background-color: #2D3033;
$background-color-light: #6C6E70;
$background-color-blue: #92DCE0;
$background-light-blue:  #0C98CF;
$background-yellow: #FFF568;

* {
  box-sizing: border-box;
  color: $background-color-blue
}

body {
  padding:0;
  margin: 0;
  background-color: $background-color
}

/*home css*/

.home_container {
  @extend .sass_flex;
  justify-content: center;
  padding:0;
  width: 100vw;
  height:100%;
}

.home_carousel {
  padding-top: 5px;
}

.home_main{
  width:90vw;
  height:90%;
  @extend .sass_flex;
  justify-content: space-between;
}

.home_container > .container {
  margin-top:10px;
  width:85vw;
  height:30%;
  position:relative;
}

.btn-group {
  position: relative;
  bottom:-30px;
  background-color: $background-light-blue;


}
.jumbotron {
  width:80vw;
  height:20%;
  font-size: 20px;
  background-color: $background-color-light;
}

.material-icons.md-48 {
  font-size: 48px;
  color: $background-yellow;
}

.bottom-menu-mobile {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height:10vh;
  padding:0px 20px;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  animation: 3s showIt;
}

.dropdown-menu {
  max-height: 300px;
  max-width: 150px;
  overflow-y: auto;
  overflow-x: auto;
}

@keyframes showIt {
   from {opacity:0;}
   to {opacity: 1;}
}

/*MAP CSS*/

.map_container {
  width:100vw;
  height:100%;
  @extend .sass_flex;
  justify-content: space-between;
}

.map_top_selectors {
  margin-top: 5px;
  margin-left: 10px;
  width:90%;
  height:9%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.map_buttons {
  position: relative;
  left: -9px;
}

#right_map_btn {
  position: relative;
  left:-10px;
}


.custom-marker {
  color: black;
}
.map_area {
  padding:0;
  margin-top:5px;
  width:90vw;
  height:65%;
  border: 1px solid black;
  position: relative;
  bottom: -30px;
}

ng-map {
  width: 100%;
  height: 100%;
}

.map_footer {
  position: fixed;
  bottom: 0;
  padding: 0px 20px;
  width:100vw;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: 3s showIt;
}


.info_container{
  width:100vw;
  height:100%;
  @extend .sass_flex;
  justify-content: space-between;
}

.info_main {
  position: relative;
  bottom:-40px;
  margin:auto;
  @extend .sass_flex;
  justify-content: space-between;
  text-align: center;
  width:100vw;
  height: 100%;
  // border: 1px solid black;
}


.info_text {
  animation: 3s showIt;
}

.info_bottom_nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height:10%;
  padding: 0px 20px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  animation: 3s showIt;
}
